@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
    }

    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-left: 16px;
        padding-right: 16px; 
        height: 700px; 

        &__bigstar {
            display: none;
        }

        &__smallstar1 {
            width: 35px;
            height: 35px;
            left: 38px;
            top: 97px;
        }

        &__smallstar2 {
            width: 39px;
            height: 41px;
            left: 304px;
            top: 620px;
        }

        &__smallstar3 {
            width: 21px;
            height: 21px;
            left: 92px;
            top: 64px;
        }

        &__smallstar4 {
            width: 18px;
            height: 18px;
            left: 273px;
            top: 597px;
        }
    }

    .menu-mobile {
        display: block;
    }

    .mobilestar {
        position: absolute;
        width: 223.52px;
        height: 238.57px;
        left: 240px;
        top: -90px;
        transform: rotate(108.68deg);
    }

    .head {
        flex-direction: row;
        justify-content: center;
        padding-top: 147px;

        &__heading {
            color: rgb(32, 32, 39);
            font-size: 40px;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__paragraph {
            justify-content: center;
            align-items: center;
            padding: 0px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            break-before:unset;
            padding-top: 24px;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
            line-height: 142%;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    .line {
        height: 51px;
    }

    .game-box {
        display: none;
    }
}    