@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
    }

    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {

        &__bigstar {
            position: absolute;
            width: 223.52px;
            height: 238.57px;
            left: 489.81px;
            top: -40.43px;
            transform: rotate(108.68deg);
        }
    }
}    