* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  width: 100%;
  background: rgb(225, 255, 143);
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.header__bigstar {
  position: absolute;
  width: 1074px;
  height: 1130.46px;
  right: -488px;
  top: -333.46px;
  bottom: 3px;
}
.header__smallstar1 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
  color: rgb(188, 236, 48);
}
.header__smallstar2 {
  position: absolute;
  width: 83px;
  height: 83px;
  left: calc(100% - 427px);
  top: calc(100% - 232px);
}
.header__smallstar3 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 156px;
  top: 69px;
}
.header__smallstar4 {
  position: absolute;
  width: 37px;
  height: 37px;
  left: calc(100% - 492px);
  top: calc(100% - 262px);
  box-sizing: border-box;
  color: rgb(188, 236, 48);
}

.menu-mobile {
  display: none;
}

.head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 196px;
  display: flex;
  flex-direction: column;
}
.head__heading {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.head__paragraph {
  max-width: 720px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}
.head__paragraph_mobile {
  display: none;
}

.button {
  width: 247px;
  height: 66px;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background: rgb(252, 252, 252);
  color: black;
}

.line {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
}

.game-box {
  position: relative;
  background: rgb(32, 32, 39);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24;
  overflow: hidden;
}
.game-box__star1 {
  position: absolute;
  width: 585px;
  height: 585px;
  left: calc(100% - 457px);
  top: calc(100% - 1324px);
  transform: rotate(-6.77deg);
}
.game-box__star2 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 45px;
  top: calc(100% - 648px);
  transform: rotate(5.45deg);
}
.game-box__star3 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 28px;
  top: calc(100% - 700px);
  transform: rotate(5.45deg);
}
.game-box__desc {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
}
.game-box__heading {
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.game-box__paragraph {
  align-items: center;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.game {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 50px;
}
.game__item {
  height: 473px;
  grid-column: span 4;
  background-color: white;
  color: black;
  font-style: normal;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  display: flex;
  justify-content: start;
  align-items: end;
  z-index: 1;
  border-radius: 30px;
  text-decoration: none;
}
.game__item_big {
  height: 512px;
}
.game__item_biggest {
  height: 551px;
  margin-top: -32px;
}
.game__item_1 {
  background-image: url(./gamesitepics/game_1.svg);
  background-repeat: no-repeat;
}
.game__item_2 {
  background-image: url(./gamesitepics/game_2.svg);
  background-repeat: no-repeat;
}
.game__item_3 {
  background-image: url(./gamesitepics/game_3.svg);
  background-repeat: no-repeat;
}
.game__item_4 {
  background-image: url(./gamesitepics/game_4.jpg);
  background-repeat: no-repeat;
}
.game__item_5 {
  background-image: url(./gamesitepics/game_5.svg);
  background-repeat: no-repeat;
}
.game__item_6 {
  background-image: url(./gamesitepics/game_6.svg);
  background-repeat: no-repeat;
}
.game__item-box {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 32px 36px 32px;
}
.game__item-number {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
.game__item-name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.game__item:hover {
  transform: scale(1.1);
}

.games-box {
  position: relative;
  height: 100%;
  background: rgb(32, 32, 39);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.games-box__star1 {
  position: absolute;
  width: 35.15px;
  height: 35.15px;
  left: 1281.33px;
  margin-top: 93px;
}
.games-box__star2 {
  position: absolute;
  width: 68.86px;
  height: 68.86px;
  left: 1326.54px;
  margin-top: 126px;
}
.games-box__star3 {
  position: absolute;
  width: 69px;
  height: 69px;
  left: 1319px;
  bottom: 65px;
  transform: rotate(-5.45deg);
}
.games-box__star4 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 1249px;
  bottom: 45px;
  transform: rotate(-7.08deg);
}
.games-box__heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 46px;
}

.games {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 72px;
  margin-bottom: 144px;
}
.games__item {
  width: 100%;
  grid-column: span 12;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
}
.games__item-box {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 500px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
}
.games__item-name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.games__item-desc {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}
.games__item-image {
  display: flex;
  max-height: 500px;
  border-radius: 30px;
}

.footer {
  background: rgb(189, 237, 53);
}
.footer-content {
  padding: 60px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-left: 16px;
    padding-right: 16px;
    height: 649px;
  }
  .header__bigstar {
    display: none;
  }
  .header__smallstar1 {
    width: 35px;
    height: 35px;
    left: 38px;
    top: 97px;
  }
  .header__smallstar2 {
    width: 39px;
    height: 41px;
    left: 304px;
    top: 580px;
  }
  .header__smallstar3 {
    width: 21px;
    height: 21px;
    left: 92px;
    top: 64px;
  }
  .header__smallstar4 {
    width: 18px;
    height: 18px;
    left: 273px;
    top: 557px;
  }
  .menu-mobile {
    display: block;
  }
  .mobilestar {
    position: absolute;
    width: 223.52px;
    height: 238.57px;
    left: 240px;
    top: -90px;
    transform: rotate(108.68deg);
  }
  .head {
    flex-direction: row;
    justify-content: center;
    padding-top: 147px;
  }
  .head__heading {
    color: rgb(32, 32, 39);
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .head__paragraph {
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    -moz-column-break-before: unset;
         break-before: unset;
    padding-top: 24px;
  }
  .button {
    margin-top: 32px;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
  .line {
    height: 51px;
  }
  .game-box {
    display: none;
  }
  .games {
    margin-top: 48px;
    margin-bottom: 49px;
    gap: 24px;
  }
  .games-box__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
  }
  .games__item {
    display: flex;
    flex-direction: column-reverse;
    max-width: 343px;
  }
  .games__item-mobile {
    display: flex;
    flex-direction: column;
  }
  .games__item-box {
    padding: 29px 29px 32px 29px;
  }
  .games__item-image {
    width: 343px;
    height: 285px;
  }
  .games__item-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
  }
  .games__item-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 16px;
  }
}/*# sourceMappingURL=style.css.map */