* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 800px;
    width: 100%;
    background:
     rgb(225, 255, 143);
     background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    &__star {
        position: absolute;
        width: 749.55px;
        width: 1074px;
        height: 1130.46px;
        left: 854px;
        right: -488px;
        top: -333.46px;
        bottom: 3px;
    }    
    &__smallstar1 {
        position: absolute;
        width: 57px;
        height: 57px;
        left: 63px;
        top: 94px;
        color: 
        rgb(188, 236, 48);
    }

    &__smallstar2 {
        position: absolute;
        width: 83px;
        height: 83px;
        left: calc(100% - 427px);
        top: calc(100% - 232px);
    }

    &__smallstar3 {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 156px;
        top: 69px;
    }

    &__smallstar4 {
        position: absolute;
        width: 37px;
        height: 37px;
        left: calc(100% - 492px);
        top: calc(100% - 262px);
        box-sizing: border-box;
        color: rgb(188, 236, 48);
    }
}

.menu-mobile {
    display: none;
}

.head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 196px;
    display: flex;
    flex-direction: column;
    
    &__heading {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__paragraph {
        max-width: 720px;
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 24px;

        &_mobile {
            display: none;
        }
    }  
}


.button {
    width: 247px;
    height: 66px;  
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 28px 16px 28px; 
    box-sizing: border-box;
    border: 
    1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background: 
    rgb(252, 252, 252);
    color: black;
}

.line {
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    box-sizing: border-box;
    border: 1px solid 
    rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
}

.game-box {
    position: relative;
    background: rgb(32, 32, 39);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24;
    overflow: hidden;

    &__star1 {
        position: absolute;
        width: 585px;
        height: 585px;
        left: calc(100% - 457px);
        top: calc(100% - 1324px);
        transform: rotate(-6.77deg);
    }

    &__star2 {
        position: absolute;
        width: 55px;
        height: 55px;
        left: 45px;
        top: calc(100% - 648px);
        transform: rotate(5.45deg);
    }

    &__star3 {
        position: absolute;
        width: 31px;
        height: 31px;
        left: 28px;
        top: calc(100% - 700px);
        transform: rotate(5.45deg);
    }

    &__desc {
        display: flex;
        flex-direction: column;
        padding-top: 94px;
    }

    &__heading {
        align-items: center;
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__paragraph {
        align-items: center;
        order: 1;
        flex-grow: 0;
        margin: 24px 0px;
        color: rgb(255, 255, 255);
        font-family: inherit;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.game {
    display: grid;
    gap: 32px;
    grid-template-columns:
            repeat(12, 1fr);
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 50px;

    &__item {
        height: 473px;
        grid-column: span 4;
        background-color: white;
        color: black;
        font-style: normal;
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;
        display: flex;
        justify-content: start;
        align-items: end;
        z-index: 1;
        border-radius: 30px;
        text-decoration: none;

        &_big {
            height: 512px;
        }

        &_biggest {
            height: 551px;
            margin-top: -32px;
        }

        &_1 {
            background-image:
             url(./gamesitepics/game_1.svg);
            background-repeat: no-repeat;
        }

        &_2 {
            background-image:
             url(./gamesitepics/game_2.svg);
            background-repeat: no-repeat;
        }

        &_3 {
            background-image:
             url(./gamesitepics/game_3.svg);
            background-repeat: no-repeat;
        }

        &_4 {
            background-image:
             url(./gamesitepics/game_4.jpg);
            background-repeat: no-repeat;
        }

        &_5 {
            background-image:
             url(./gamesitepics/game_5.svg);
            background-repeat: no-repeat;
        }

        &_6 {
            background-image:
             url(./gamesitepics/game_6.svg);
            background-repeat: no-repeat;
        }

        &-box {
            display: flex;
            flex-direction: column;
            row-gap: 26px;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 32px 32px 36px 32px;
        }

        &-number {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 8px 16px 10px 16px;
            border-radius: 52.58px;
            background: 
            rgb(247, 247, 247);
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 0px;
            text-align: left;
        }
        
        &-name {
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    &__item:hover {
        transform: scale(1.1);
    }
}

.games-box {
    position: relative;
    height: 100%;
    background: rgb(32, 32, 39);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    &__star1 {
        position: absolute;
        width: 35.15px;
        height: 35.15px;
        left: 1281.33px;
        margin-top: 93px;
    }

    &__star2 {
        position: absolute;
        width: 68.86px;
        height: 68.86px;
        left: 1326.54px;
        margin-top: 126px;
    }

    &__star3 {
        position: absolute;
        width: 69px;
        height: 69px;
        left: 1319px;
        bottom: 65px;
        transform: rotate(-5.45deg);
    }

    &__star4 {
        position: absolute;
        width: 41px;
        height: 41px;
        left: 1249px;
        bottom: 45px;
        transform: rotate(-7.08deg);
    }

    &__heading {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 46px;
    }
}

.games {
    display: grid;
    gap: 32px;
    grid-template-columns:
            repeat(12, 1fr);
    margin-top: 72px;
    margin-bottom: 144px;

    &__item {
        width: 100%;
        grid-column: span 12;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 30px;

        &-box {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            max-height: 500px;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 48px;
        }

        &-name {
            color: rgb(32, 32, 39);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0px;
            text-align: left;
        }

        &-desc {
            color: rgb(32, 32, 39);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            padding-top: 24px;
        }

        &-image {
            display: flex;
            max-height: 500px;
        }
    }
}

.footer {
    background: rgb(189, 237, 53);

    &-content {
        padding: 60px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }
}
@import "mobile";
